.w-22 {
  background-color: rgb(0, 0, 0) !important;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
  background-size: cover;
  /* background-size: cover;
  background-color: darkgrey;
  background-position: center center;
  font-family: "Arimo", sans-serif;
  background-repeat: no-repeat;
  position: relative;
  color: Black !important;
  margin-top: -1em;
  min-height: 250px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);*/
}

.text1 {
  font-family: "Arimo", sans-serif;
  font-weight: 900;
  font-size-adjust: initial;
}

.mobile-margin {
  margin-left: 20px;
  margin-right: 20px;
}

.btn-secondary {
  border: none;
  border-radius: 0;
  background-color: #353535;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  right: 0;
  margin-right: 10px;
}

.btn-secondary:hover {
  background-color: hsl(39, 91%, 50%);
  border-color: hsl(39, 91%, 50%); /*set the color you want here*/
}

.knapp1 {
  background-color: darkblue !important;
  border-color: darkblue !important;
}
.knapp1:hover {
  background-color: rgb(82, 82, 255) !important;
  border-color: rgb(82, 82, 255) !important;
}
