.container-fluid {
  width: 100%;
  color: Black !important;
}

.home {
  background-size: cover;
  background-color: rgb(255, 255, 255) !important;
  background-position: center center;
  font-family: "Arimo", sans-serif;
  background-repeat: no-repeat;
  position: relative;
  color: Black !important;

  font-weight: bold;
  width: 100%;
  height: 90vh;
}

h1 {
  font-family: "Helvetica Neue", Helvetica;
}

.person-wrapper {
  margin-bottom: 2em;
}

.Head {
  opacity: 0.9;
}

.btn-secondary {
  border: none;
  border-radius: 0;
  background-color: #353535;
  opacity: 0.6;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  position: absolute;
  bottom: 10px;
  right: 0;
  margin-right: 10px;
}

.btn-secondary:hover {
  background-color: hsl(39, 91%, 50%);
  border-color: hsl(39, 91%, 50%); /*set the color you want here*/
}
h3 {
  margin-bottom: 1em;
}
