.jumbotron2 {
  background-color: rgb(221, 221, 221) !important;
}

/*----------------------Footer-------------------*/

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: relative;
  width: 100%;
  height: 100%; /* Set the fixed height of the footer here */
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/*----------------------Footer-------------------*/
